html {
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    overflow: auto;
    background: linear-gradient(130deg, $sky 30%, #f7fdfe 75%), linear-gradient(90deg, $sky 20%, #fff 45%);
    background-color: #f7fdfe;
    font-size: 18px;
    font-family: $font;
}

a {
    text-decoration: none;
    color: $bc;
    border-bottom: 2px solid $bc;
}

button {
    font-family: $font;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: 0;
    &.big {
        font-size: 1em;
        border-radius: 10px;
        padding: 12px 60px;
        margin: 0 20px;
    }
    &.medium {
        font-size: 1em;
        border-radius: 8px;
        padding: 5px 14px 5px 10px;
        margin: 0 5px;
    }
    &.small {
        font-size: 0.8em;
        border-radius: 5px;
        padding: 3px 7px 3px 5px;
        margin: 0 2px;
        background-color: rgba(255, 255, 255, 0.95);
        border: 1px solid rgba(200, 200, 200, 0.5);
        &.active {
            background-color: $bright;
        }
    }
    &:focus {
        outline: 0;
        border: 1px solid #ccc;
    }
    &.low {
        background-color: $dblue;
        color: #fff;
    }
    &.high {
        background-color: $bc;
        color: #fff;
    }
}