$bc: #FC0038;
$bc2: #d64545;
$bg: #26C1FF;
$dblue: #004A98;
$lblue: #3d95ce;
$sky: #DCF0F6;
$bright: #8fdef6;
$bright2: #56c0e3;
$brightred: #ff9a9a;
$dull: #b8dae4;
$lgreen: #b7e8b3;
$lyellow: #f1e27b;
$dyellow: #d08b15;
$yellow: #ecb31c;
$dgreen: #177d08;
$font: Helvetica, sans-serif;
$height: 15px;
$halfheight: ($height/2);
$thickness: 105%; // increase to make the line thicker
$offset: 4px;
$zigzagbg: #fcfcfc;
$linecolor: #ccc;