@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');
$bc: #FC0038;
$bc2: #d64545;
$bg: #26C1FF;
$dblue: #004A98;
$lblue: #3d95ce;
$sky: #DCF0F6;
$bright: #8fdef6;
$bright2: #56c0e3;
$brightred: #ff9a9a;
$dull: #b8dae4;
$lgreen: #b7e8b3;
$lyellow: #f1e27b;
$font: 'Work Sans', sans-serif;